<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
        >

  <testsuites>
    <testsuite name="Optimus Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./src</directory>
    </whitelist>
  </filter>
</phpunit>