<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
>

    <testsuites>
        <testsuite name="Optimus Test Suite">
            <directory>./src/Optimus/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>